@font-face {
  font-family: Merriweather;
  src: url(../assets/fonts/Merriweather-Regular.ttf); }

@font-face {
  font-family: MerriweatherLight;
  src: url(../assets/fonts/Merriweather-Light.ttf); }

@font-face {
  font-family: MerriweatherBold;
  src: url(../assets/fonts/Merriweather-Bold.ttf); }

/* ULTRAPINK */
/*
Animations
*/
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0%, 0); } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0%, 0); } }

@keyframes dashHero {
  from {
    stroke-dashoffset: 1050; }
  to {
    stroke-dashoffset: 0; } }

@keyframes dashLogo {
  from {
    stroke-dashoffset: 700; }
  to {
    stroke-dashoffset: 0; } }

@keyframes dashLogoLoop {
  from {
    stroke-dashoffset: -450; }
  to {
    stroke-dashoffset: 950; } }

.animated {
  animation-duration: 2s;
  animation-fill-mode: both; }

.fadeIn {
  animation-name: fadeIn; }

.fadeInDown {
  animation-name: fadeInDown; }

.fadeInUp {
  animation-name: fadeInUp; }

.sparkline {
  display: inline-block; }
  .sparkline svg {
    padding: 10px; }
  .sparkline path {
    stroke-dasharray: 192;
    stroke-dashoffset: 192;
    stroke-width: 5px;
    stroke: white;
    fill: none; }

.butterfly {
  display: inline-block; }
  .butterfly .wing {
    position: relative;
    width: 20px;
    height: 20px;
    transition: transform .8s; }
  .butterfly .wing.wing1 {
    background: rgba(120, 220, 58, 0.8);
    transform: skew(0, 30deg) translate(40px, 20px); }
  .butterfly .wing.wing2 {
    background: rgba(36, 216, 205, 0.8);
    transform: skew(0deg, -30deg) translate(30px, 10px); }

@keyframes preload-show-1 {
  from {
    transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-hide-1 {
  to {
    transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-cycle-1 {
  5% {
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #2800d7; }
  10%,
  75% {
    transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    border-left-color: #24d8cd; }
  80%,
  100% {
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-show-2 {
  from {
    transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-hide-2 {
  to {
    transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-cycle-2 {
  10% {
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #2800d7; }
  15%,
  70% {
    transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    border-left-color: #24d8cd; }
  75%,
  100% {
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-show-3 {
  from {
    transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-hide-3 {
  to {
    transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-cycle-3 {
  15% {
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #2800d7; }
  20%,
  65% {
    transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    border-left-color: #24d8cd; }
  70%,
  100% {
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-show-4 {
  from {
    transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-hide-4 {
  to {
    transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-cycle-4 {
  20% {
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #2800d7; }
  25%,
  60% {
    transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    border-left-color: #24d8cd; }
  65%,
  100% {
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-show-5 {
  from {
    transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-hide-5 {
  to {
    transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-cycle-5 {
  25% {
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #2800d7; }
  30%,
  55% {
    transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    border-left-color: #24d8cd; }
  60%,
  100% {
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-show-6 {
  from {
    transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-hide-6 {
  to {
    transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-cycle-6 {
  30% {
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #2800d7; }
  35%,
  50% {
    transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    border-left-color: #24d8cd; }
  55%,
  100% {
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #2800d7; } }

@keyframes preload-flip {
  0% {
    transform: rotateY(0deg) rotateZ(-60deg); }
  100% {
    transform: rotateY(360deg) rotateZ(-60deg); } }

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  display: block;
  width: 3.75em;
  height: 4.25em;
  margin-left: -1.875em;
  margin-top: -2.125em;
  transform-origin: center center;
  transform: rotateY(180deg) rotateZ(-60deg); }
  .preloader .slice {
    border-top: 1.125em solid transparent;
    border-right: none;
    border-bottom: 1em solid transparent;
    border-left: 1.875em solid #f7484e;
    position: absolute;
    top: 0px;
    left: 50%;
    transform-origin: left bottom;
    border-radius: 3px 3px 0 0; }
  .preloader .slice:nth-child(1) {
    transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.82s preload-hide-1 both 1; }
  .preloader .slice:nth-child(2) {
    transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.74s preload-hide-2 both 1; }
  .preloader .slice:nth-child(3) {
    transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.66s preload-hide-3 both 1; }
  .preloader .slice:nth-child(4) {
    transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.58s preload-hide-4 both 1; }
  .preloader .slice:nth-child(5) {
    transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.5s preload-hide-5 both 1; }
  .preloader .slice:nth-child(6) {
    transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.42s preload-hide-6 both 1; }
  .preloader.loading {
    animation: 2s preload-flip steps(2) infinite both; }
    .preloader.loading .slice:nth-child(1) {
      transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-1 linear infinite both; }
    .preloader.loading .slice:nth-child(2) {
      transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-2 linear infinite both; }
    .preloader.loading .slice:nth-child(3) {
      transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-3 linear infinite both; }
    .preloader.loading .slice:nth-child(4) {
      transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-4 linear infinite both; }
    .preloader.loading .slice:nth-child(5) {
      transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-5 linear infinite both; }
    .preloader.loading .slice:nth-child(6) {
      transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-6 linear infinite both; }

/*
Sections
*/
.logo {
  width: 100%;
  display: inline-block; }
  .logo svg {
    padding: 20px 0;
    max-width: 110px;
    max-height: 340px; }
    .logo svg path {
      stroke-width: 2px;
      stroke: #27ff00;
      fill: none;
      stroke-dasharray: 700;
      stroke-dashoffset: 700;
      animation: dashLogo 4s linear forwards; }
    .logo svg:hover path {
      animation: dashLogoLoop 4s linear infinite; }
  .logo svg rect {
    fill: none; }
  .logo svg path {
    /*fill: $midgrey;*/
    fill: url(#logoGrad);
    stroke: none;
    stroke-width: 2px;
    transition: fill .3s, stroke .3s; }
  .logo svg:hover rect {
    fill: none; }
  .logo svg:hover path {
    fill: url(#logoGradFinal);
    stroke: #ef008c;
    transition: fill .3s, stroke .3s; }

.hero {
  width: 100%;
  display: inline-block;
  height: 350px;
  text-align: center; }
  .hero svg {
    padding: 20px;
    transform: scale(0.5, 0.5);
    transition: transform .5s;
    background: linear-gradient(-30deg, #78dc3a, #24d8cd); }
    .hero svg circle {
      fill: none; }
    .hero svg:hover {
      transform: scale(0.5, 0.5);
      transition: transform .5s; }

.top-hello {
  background: radial-gradient(center, ellipse cover, #fefbf7 0%, #d4d4d2 100%); }

.hello {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hello .hello-wrapper {
    position: relative;
    width: 100%;
    height: 100%; }
    .hello .hello-wrapper .navigation {
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 0;
      margin: 20px 0; }
      .hello .hello-wrapper .navigation a {
        font-family: 'Lato';
        font-weight: bold;
        font-size: 12px;
        letter-spacing: .1em;
        padding: 15px;
        text-decoration: none;
        color: #24d8cd;
        background: none;
        transition: background 0.3s, color 0.3s; }
        .hello .hello-wrapper .navigation a:hover {
          color: white;
          background: linear-gradient(-30deg, #78dc3a, #24d8cd);
          transition: background 0.3s, color 0.3s; }
    .hello .hello-wrapper .categories {
      text-align: center;
      width: 100%;
      position: absolute;
      top: 0;
      margin: 20px 0; }
      .hello .hello-wrapper .categories span {
        font-family: 'Lato';
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0em;
        text-transform: uppercase;
        padding: 15px;
        color: #282c34; }
  .hello .hello-copy {
    display: inline-block;
    float: left;
    line-height: 36px;
    font-size: 16px;
    width: 100%; }
    .hello .hello-copy h2 {
      font-family: 'Lato';
      color: #24d8cd; }
    .hello .hello-copy p {
      color: #510633;
      font-family: 'MerriweatherLight', sans-serif;
      text-align: center; }
      .hello .hello-copy p .highlight {
        color: white; }
      .hello .hello-copy p::-moz-selection {
        color: #2800d7;
        background: #282c34; }
      .hello .hello-copy p::selection {
        color: #2800d7;
        background: #282c34; }
    .hello .hello-copy a {
      color: black;
      background: none;
      transition: background .3s, color .3s;
      text-decoration: none; }
      .hello .hello-copy a:hover {
        background: #282c34;
        color: white;
        transition: background .3s, color .3s; }

.one-project {
  height: 300px;
  cursor: pointer;
  background: white;
  transition: background 0.1s;
  border-bottom: 1px solid #2800d7;
  margin-bottom: 25px;
  box-shadow: 0 0 2px 0 #2800d7;
  padding: 20px; }
  .one-project:hover {
    box-shadow: 0 0 6px 0 #2800d7;
    transition: box-shadow 0.1s; }
  .one-project .thumbnail {
    width: 30%;
    height: 100%;
    margin-right: 5%;
    display: inline-block;
    float: left; }
  .one-project .summary {
    width: 65%;
    display: inline-block; }
    .one-project .summary .title {
      font-size: 24px;
      color: #282c34; }

.one-project-detail {
  padding: 40px;
  color: #282c34;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  margin-top: 15%; }
  .one-project-detail .header {
    margin: 60px 0; }
  .one-project-detail h3.author {
    text-transform: capitalize;
    color: #81898f;
    font-family: 'MerriweatherLight';
    font-style: italic;
    font-size: 16px; }
  .one-project-detail h1, .one-project-detail h3 {
    margin: 0; }
  .one-project-detail img {
    width: 100%;
    margin: 20px 0; }
  .one-project-detail span.project-tag {
    font-size: 12px;
    color: white;
    background: linear-gradient(-30deg, #78dc3a, #24d8cd);
    line-height: 12px;
    padding: 8px;
    margin-right: 5px; }
  .one-project-detail > p {
    margin-bottom: 180px; }
  .one-project-detail pre {
    padding: 20px;
    background: #fefbf7;
    overflow-x: scroll;
    border: solid 1px #d4d4d2; }

.featured-work {
  width: 80%;
  max-width: 1200px;
  position: relative; }
  .featured-work .content-detail {
    height: 100%;
    width: 0%;
    float: left;
    background: #2800d7;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: width 0.3s;
    z-index: 10; }
  .featured-work .content {
    min-height: 100%;
    width: 100%;
    float: right;
    transition: width 0.3s;
    z-index: 1; }
    .featured-work .content .projects {
      max-width: 1200px;
      width: 80%;
      margin: 0 auto; }
  .featured-work.in-detail {
    overflow: hidden; }
    .featured-work.in-detail .content-detail {
      width: 100%;
      transition: width 0.3s;
      background: white; }
      .featured-work.in-detail .content-detail .one-project-detail {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 40px;
        padding: 40px;
        border: #2800d7 2px solid; }
    .featured-work.in-detail .content .one-project {
      opacity: 1;
      transition: opacity .5s; }

.side-menu-burg {
  display: block;
  position: fixed;
  right: 0;
  overflow: hidden;
  float: right;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background: none; }
  .side-menu-burg.hidden {
    display: none; }
  .side-menu-burg span {
    display: block;
    position: absolute;
    top: 22px;
    left: 10px;
    right: 10px;
    height: 4px;
    background: linear-gradient(-30deg, #78dc3a, #24d8cd);
    border-radius: 4px; }
  .side-menu-burg span::before,
  .side-menu-burg span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(-30deg, #78dc3a, #24d8cd);
    border-radius: 4px;
    content: "";
    transition-duration: 0.2s, 0.2s;
    transition-delay: 0.2s, 0s; }
  .side-menu-burg span::before {
    transition-property: top, transform;
    top: -8px; }
  .side-menu-burg span::after {
    transition-property: bottom, transform;
    bottom: -8px; }
  .side-menu-burg:hover span::before {
    top: -6px; }
  .side-menu-burg:hover span::after {
    bottom: -6px; }
  .side-menu-burg.is-active span {
    background: #2800d7;
    transition-delay: 0s, 0.2s; }
  .side-menu-burg.is-active span::before,
  .side-menu-burg.is-active span::after {
    background: white;
    transition-delay: 0s, 0.2s; }
  .side-menu-burg.is-active span::before {
    top: 0;
    transform: rotate(45deg); }
  .side-menu-burg.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg); }

.side-menu-burg:focus {
  outline: none; }

.side-menu {
  width: 100px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition: width .5s, background .25s;
  z-index: 10000;
  overflow-y: scroll; }
  .side-menu.open {
    width: 100%;
    background: rgba(40, 0, 215, 0.95);
    transition: width .5s, background .25s; }
    .side-menu.open .menu {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .side-menu.open .menu .options {
        width: 100%;
        text-align: center; }
        .side-menu.open .menu .options .menu-option {
          width: 100%;
          font-family: 'Lato';
          font-weight: bold;
          letter-spacing: .1em;
          text-transform: uppercase;
          font-size: 24px;
          margin: 0;
          padding-left: 0;
          cursor: pointer;
          background: none;
          transition: color .2s, background .2s; }
          .side-menu.open .menu .options .menu-option .option-wrapper {
            display: inline-block; }
          .side-menu.open .menu .options .menu-option a {
            text-decoration: none;
            color: white;
            transition: color .2s;
            display: inline-block;
            height: 70px;
            line-height: 80px;
            float: left; }
          .side-menu.open .menu .options .menu-option:hover {
            background: white;
            transition: color .2s, background .2s; }
            .side-menu.open .menu .options .menu-option:hover a {
              color: #2800d7; }
            .side-menu.open .menu .options .menu-option:hover .wing1 {
              transform: skew(0, 30deg) translate(20px, 20px); }
            .side-menu.open .menu .options .menu-option:hover .wing2 {
              transform: skew(0deg, -30deg) translate(10px, 10px); }
        @media (min-width: 360px) and (max-width: 600px) {
          .side-menu.open .menu .options .menu-option {
            font-size: 16px; } }
        @media (min-width: 600px) and (max-width: 840px) {
          .side-menu.open .menu .options .menu-option {
            font-size: 24px; } }
  .side-menu.left {
    right: auto;
    left: 0; }
    .side-menu.left.open {
      background: white; }
    .side-menu.left .side-menu-burg.is-active span {
      background: white; }
    .side-menu.left .side-menu-burg.is-active span::before,
    .side-menu.left .side-menu-burg.is-active span::after {
      background: #2800d7; }

.contact {
  min-height: 500px; }
  .contact .content {
    background: white;
    width: 80%;
    height: 100%;
    margin: 0 auto; }
    .contact .content .avatar {
      background-image: url("../assets/avatar.png");
      background-size: 100px 100px;
      width: 100px;
      height: 100px;
      position: relative;
      margin: 40px 0;
      border: 4px solid #24d8cd;
      z-index: 10; }
    .contact .content .copy {
      padding: 40px;
      padding-left: 0; }
      .contact .content .copy p {
        font-size: 16px; }
        .contact .content .copy p .highlight {
          color: #282c34; }
      .contact .content .copy a {
        text-decoration: none;
        font-family: 'Lato';
        padding: 20px 0;
        color: #24d8cd;
        background: none;
        border-bottom: white 4px transparent;
        transition: border 0.3s; }
        .contact .content .copy a:hover {
          border-bottom: #24d8cd 4px solid;
          transition: border 0.3s; }
    .contact .content .social-footer {
      height: 62px;
      margin-left: -15px;
      clear: both; }
      .contact .content .social-footer .social-icon {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        background: #2800d7;
        transform: scale(0.5, 0.5);
        display: inline;
        float: left;
        cursor: pointer; }
        .contact .content .social-footer .social-icon path,
        .contact .content .social-footer .social-icon circle {
          /*fill: $midgrey;*/
          fill: #24d8cd;
          stroke: #510633;
          stroke-width: 2px;
          transition: fill .3s, stroke .3s; }
        .contact .content .social-footer .social-icon:hover {
          background: #24d8cd; }
          .contact .content .social-footer .social-icon:hover path {
            fill: #2800d7;
            stroke: #24d8cd;
            transition: fill .3s, stroke .3s; }

.footer {
  background: radial-gradient(center, ellipse cover, #fefbf7 0%, #d4d4d2 100%);
  padding-bottom: 60px;
  margin-top: 120px; }
  .footer .logo {
    text-align: center; }
  .footer .footer-mail {
    display: block;
    font-size: 12px;
    text-align: center;
    max-width: none;
    width: 100%;
    margin: 0;
    text-decoration: none;
    color: #24d8cd; }
  .footer .social-footer {
    margin: 0 auto;
    text-align: center;
    width: 189px;
    height: 62px;
    clear: both; }
    .footer .social-footer .social-icon {
      margin-top: 20px;
      margin-bottom: 20px;
      transform: scale(0.7, 0.7);
      display: inline;
      float: left;
      cursor: pointer; }
      .footer .social-footer .social-icon path,
      .footer .social-footer .social-icon circle {
        /*fill: $midgrey;*/
        fill: #24d8cd;
        stroke: #510633;
        stroke-width: 2px;
        transition: fill .3s, stroke .3s; }
      .footer .social-footer .social-icon:hover path {
        fill: white;
        stroke: #510633;
        transition: fill .3s, stroke .3s; }

/*
Other components
*/
.projects-wrapper {
  width: 100%;
  max-width: 800px;
  float: left; }
  .projects-wrapper .one-project-thumbnail-wrapper {
    padding: 0;
    margin-bottom: 80px; }
    .projects-wrapper .one-project-thumbnail-wrapper .one-project-thumbnail {
      cursor: pointer;
      position: relative; }
      .projects-wrapper .one-project-thumbnail-wrapper .one-project-thumbnail .thumbnail {
        border: #efefef 1px solid;
        height: 300px;
        width: 100%;
        overflow: hidden;
        -webkit-filter: none;
                filter: none;
        background: rgba(40, 0, 215, 0.05);
        transition: background .3s, -webkit-filter .5s;
        transition: filter .5s, background .3s;
        transition: filter .5s, background .3s, -webkit-filter .5s; }
        .projects-wrapper .one-project-thumbnail-wrapper .one-project-thumbnail .thumbnail img {
          width: 100%; }
      .projects-wrapper .one-project-thumbnail-wrapper .one-project-thumbnail .butterfly {
        position: relative;
        top: 50px;
        opacity: 0; }
      .projects-wrapper .one-project-thumbnail-wrapper .one-project-thumbnail .title {
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .1em;
        font-family: 'Lato';
        font-size: 24px;
        color: #282c34;
        position: absolute;
        top: 50%;
        width: 100%;
        -webkit-filter: blur(10px);
                filter: blur(10px);
        text-align: center;
        opacity: 0;
        z-index: 10;
        transition: opacity .3s; }
      .projects-wrapper .one-project-thumbnail-wrapper .one-project-thumbnail .loading {
        opacity: 0; }
    .projects-wrapper .one-project-thumbnail-wrapper:hover .thumbnail {
      -webkit-filter: blur(6px);
              filter: blur(6px);
      transition: -webkit-filter .3s;
      transition: filter .3s;
      transition: filter .3s, -webkit-filter .3s; }
      .projects-wrapper .one-project-thumbnail-wrapper:hover .thumbnail img {
        opacity: .3;
        transition: opacity .3s; }
    .projects-wrapper .one-project-thumbnail-wrapper:hover .loading {
      opacity: 1;
      transition: opacity .3s; }
    .projects-wrapper .one-project-thumbnail-wrapper:hover .butterfly {
      opacity: 1;
      transition: opacity .3s; }
    .projects-wrapper .one-project-thumbnail-wrapper:hover .title {
      opacity: 1;
      -webkit-filter: none;
              filter: none;
      display: inline-block;
      transition: opacity .3s, -webkit-filter .6s;
      transition: opacity .3s, filter .6s;
      transition: opacity .3s, filter .6s, -webkit-filter .6s; }
    .projects-wrapper .one-project-thumbnail-wrapper:hover .wing1 {
      transform: skew(0, 30deg) translate(20px, 20px); }
    .projects-wrapper .one-project-thumbnail-wrapper:hover .wing2 {
      transform: skew(0deg, -30deg) translate(10px, 10px); }
    @media (min-width: 360px) and (max-width: 840px) {
      .projects-wrapper .one-project-thumbnail-wrapper .one-project-thumbnail .thumbnail {
        -webkit-filter: blur(6px);
                filter: blur(6px); }
        .projects-wrapper .one-project-thumbnail-wrapper .one-project-thumbnail .thumbnail img {
          opacity: .3; }
      .projects-wrapper .one-project-thumbnail-wrapper .one-project-thumbnail .butterfly {
        opacity: 1; }
      .projects-wrapper .one-project-thumbnail-wrapper .one-project-thumbnail .title {
        opacity: 1;
        display: inline-block; }
      .projects-wrapper .one-project-thumbnail-wrapper .one-project-thumbnail .wing1 {
        transform: skew(0, 30deg) translate(20px, 20px); }
      .projects-wrapper .one-project-thumbnail-wrapper .one-project-thumbnail .wing2 {
        transform: skew(0deg, -30deg) translate(10px, 10px); } }

/*
Main styles
*/
html, body {
  height: 100%;
  width: 100%; }

body {
  background: white;
  color: #282c34;
  margin: 0;
  font-family: Merriweather; }
  body section {
    width: 100%;
    min-height: 100%;
    clear: both;
    display: inline-block;
    margin-left: 100px; }
    @media (min-width: 360px) and (max-width: 600px) {
      body section {
        margin-left: 20px;
        padding: 10px; } }
    @media (min-width: 600px) and (max-width: 840px) {
      body section {
        margin-left: 40px; } }
  body h1 {
    font-size: 32px; }
  body h2 {
    font-family: 'Lato';
    font-size: 36px;
    line-height: 36px;
    text-align: left; }
  body p {
    max-width: 800px;
    font-family: 'MerriweatherLight';
    line-height: 36px;
    font-size: 16px; }
  body .copy {
    padding: 60px 0;
    max-width: 740px;
    margin: 0 auto;
    padding-left: 0;
    margin-left: 0;
    font-family: 'MerriweatherLight';
    line-height: 36px;
    font-size: 16px; }
  @media (min-width: 600px) {
    body h1 {
      font-size: 32px; } }
  @media (min-width: 840px) {
    body h1 {
      font-size: 32px; } }
