/*
Animations
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, +10%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes dashHero {
  from {
    stroke-dashoffset: 1050;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dashLogo {
  from {
    stroke-dashoffset: 700;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dashLogoLoop {
  from {
    stroke-dashoffset: -450;
  }
  to {
    stroke-dashoffset: 950;
  }
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeInDelayed {
  animation-name: fadeIn;
  animation-delay: .75s;
  -webkit-animation-delay: .75s;
}

.fadeInDown {
  animation-name: fadeInDown;
}

.fadeInUp {
  animation-name: fadeInUp;
}
