$min-mobile-width: 360px;
$max-mobile-width: 480px;
$max-mobile-landscape-width: 600px;
$min-tablet-portrait-width: 600px;
$max-tablet-portrait-width: 840px;
$min-tablet-landscape-width: 840px;
$max-tablet-landscape-width: 960px;
$max-tablet-width: 960px;
$min-desktop-width: 960px;
