$yellow: rgb(253, 199, 106);
$off-yellow: rgb(253, 221, 170);
$off-off-yellow: rgb(254, 238, 213);

$brown: rgb(156, 138, 106);

$ultragreen: rgb(39, 255, 0);
$ultrablue: rgb(40, 0, 215);
$ultrapink: rgb(239, 0, 140);

$black: rgb(0, 0, 0);
$darkgrey: rgb(38, 38, 38);
$midgrey: rgb(129, 137, 143);
$white: rgb(255, 255, 255);

$purple: rgb(132, 78, 251);
