.contact {
  height: 500px;

  .content {
    background: $white;
    width: 80%;
    height: 100%;
    margin: 0 auto;

    .copy {
      padding: 40px;

      a {
        text-decoratin: none;
        color: $ultrablue;

        &:hover {
          color: $white;
          background: $ultrablue;
        }
      }
    }
  }
}
