.contact {
  min-height: 500px;

  .content {
    background: $white;
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;

    .avatar {
        background-image: url('../assets/avatar.png');
        background-size: 100px 100px;
        width: 100px;
        height: 100px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 60px;
        border: 4px solid $lightblue;
        border-radius: 50px;
        z-index: $first;
    }

    .copy {
      padding: 40px;
      padding-left: 0;
      width: 100%;
      max-width: none;
      background: $almostwhite;
      text-align: center;

      p {
        font-size: $xlarge;
        line-height: $xxlarge;
        margin: 0 auto;
        margin-bottom: 36px;
        font-family: 'DINPro-Light';

        .highlight {
          color: $darkgrey;
          font-family: 'DINPro-Medium';
        }

        a {
          text-decoration: none;
          font-weight: bold;
          color: $lightblue;
          border-bottom: $white 4px transparent;
          transition: border 0.3s;

          &:hover {
            border-bottom: $lightgreen 4px solid;
            color: $lightgreen;
            transition: border 0.3s, color .3s;
          }

          &.mailto {
            text-decoration: none;
            font-family: 'DINPro-Light';
            padding: 10px 0;
            margin: 10px auto;
            color: $lightblue;
            background: none;
          }
        }
      }
    }
  }
}
