.contact {
  min-height: 500px;

  .content {
    background: $white;
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;

    .avatar {
        background-image: url('../assets/avatar.png');
        background-size: 100px 100px;
        width: 100px;
        height: 100px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 60px;
        border: 4px solid $ultrapink;
        border-radius: 50px;
        z-index: $first;
    }

    .copy {
      padding: 40px;
      padding-left: 0;
      width: 100%;
      max-width: none;
      background: $almostwhite;
      text-align: center;

      p {
        font-size: $xlarge;
        line-height: $xxlarge;
        margin: 0 auto;
        margin-bottom: 36px;
        font-family: 'DINPro-Light';

        .highlight {
          color: $darkgrey;
          font-family: 'DINPro-Medium';
        }

        a {
          text-decoration: none;
          font-weight: bold;
          color: $lightblue;
        }
      }

      &.mailto {
        text-decoration: none;
        font-family: 'DINPro-Light';
        padding: 20px 0;
        color: $ultrapink;
        background: none;
        font-size: $large;
        border-bottom: $white 4px transparent;
        transition: border 0.3s;

        &:hover {
          border-bottom: $ultrapink 4px solid;
          transition: border 0.3s;
        }
      }
    }
    .social-footer {
      height: 62px;
      margin-left: -15px;
      clear: both;

      .social-icon {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        background: $ultrablue;
        transform: scale(.5, .5);
        display: inline;
        float: left;
        cursor: pointer;

        path,
        circle {
          /*fill: $midgrey;*/
          fill: $lightblue;
          stroke: $ultrablue;
          stroke-width: 2px;
          transition: fill .3s, stroke .3s;
        }

        &:hover {
          background: $lightgreen;

          path {
            fill: $lightblue;
            stroke: $ultrablue;
            transition: fill .3s, stroke .3s;
          }
        }
      }
    }
  }
}
