.contact {
  min-height: 500px;

  .content {
    background: $white;
    width: 80%;
    height: 100%;
    margin: 0 auto;

    .avatar {
        background-image: url('../assets/avatar.png');
        background-size: 100px 100px;
        width: 100px;
        height: 100px;
        position: relative;
        margin: 40px 0;
        border: 4px solid $ultrapink;
        z-index: $first;
    }

    .copy {
      padding: 40px;
      padding-left: 0;

      p {
        font-size: $normal;

        .highlight {
          color: $darkgrey;
        }
      }

      a {
        text-decoration: none;
        font-family: 'Lato';
        padding: 20px 0;
        color: $ultrapink;
        background: none;
        border-bottom: $white 4px transparent;
        transition: border 0.3s;

        &:hover {
          border-bottom: $ultrapink 4px solid;
          transition: border 0.3s;
        }
      }
    }
    .social-footer {
      height: 62px;
      margin-left: -15px;
      clear: both;

      .social-icon {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        background: $ultrablue;
        transform: scale(.5, .5);
        display: inline;
        float: left;
        cursor: pointer;

        path,
        circle {
          /*fill: $midgrey;*/
          fill: $ultrapink;
          stroke: $deeppink;
          stroke-width: 2px;
          transition: fill .3s, stroke .3s;
        }

        &:hover {
          background: $ultrapink;

          path {
            fill: $ultrablue;
            stroke: $ultrapink;
            transition: fill .3s, stroke .3s;
          }
        }
      }
    }
  }
}
