@import 'oneproject';

.featured-work {
  width: 80%;
  max-width: 1200px;
  position: relative;

  .avatar {
      background-image: url('../assets/avatar.png');
      background-size: 100px 100px;
      width: 100px;
      height: 100px;
      position: absolute;
      right: -50px;
      margin: 0 auto;
      margin-top: 40px;
      border-radius: 50px;
      border: 2px solid $ultrablue;
      z-index: $first;
  }

  .content-detail {
    height: 100%;
    width: 0%;
    float: left;
    background: $ultrablue;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: width 0.3s;
    z-index: $first;
  }

  .content {
      height: 100%;
      width: 100%;
      float: right;
      transition: width 0.3s;
      z-index: $zero;

      .projects {
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
      }
  }

  &.in-detail {
    overflow: hidden;

    .content-detail {
      width: 100%;
      transition: width 0.3s;
      background: $white;

      .one-project-detail {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 40px;
        padding: 40px;
        border: $ultrablue 2px solid;
      }
    }

    .content {
      .one-project {
        opacity: 1;
        transition: opacity .5s;
      }
    }
  }
}
