.footer {
  background: $bggrad;
  padding-bottom: 60px;
  margin-top: 120px;

  .logo {
    text-align: center;
  }

  .footer-mail {
    display: block;
    font-size: $small;
    text-align: center;
    max-width: none;
    width: 100%;
    margin: 0;
    text-decoration: none;
    color: $lightblue;
  }

  .social-footer {
    margin: 0 auto;
    text-align: center;
    width: 189px;
    height: 62px;
    clear: both;

    .social-icon {
      margin-top: 20px;
      margin-bottom: 20px;
      transform: scale(.7, .7);
      display: inline;
      float: left;
      cursor: pointer;

      path,
      circle {
        /*fill: $midgrey;*/
        fill: $ultrapink;
        stroke: $deeppink;
        stroke-width: 2px;
        transition: fill .3s, stroke .3s;
      }

      &:hover {
        path {
          fill: $white;
          stroke: $deeppink;
          transition: fill .3s, stroke .3s;
        }
      }
    }
  }
}
