.footer {
  background: $bggrad;
  padding-bottom: 60px;
  margin-top: 60px;

  .logo {
    text-align: center;
  }

  .footer-mail {
    display: block;
    font-size: $small;
    text-align: center;
    max-width: none;
    width: 100%;
    margin: 0;
    text-decoration: none;
    color: $lightblue;
  }

  .footer-nav {
    text-align: center;
    width: 100%;
    margin: 10px 0;

    a {
      font-family: 'DinProBold';
      font-weight: bold;
      font-size: $normal;
      letter-spacing: .1em;
      padding: 10px 15px;
      text-decoration: none;
      color: $darkgrey;
      transition: background 0.3s, color 0.2s;

      &:hover {
        background: $linearBGgrad;
        color: $white;
        transition: background 0.3s, color 0.2s;
      }
    }
  }

  .social-footer {
    margin: 0 auto;
    text-align: center;
    width: 315px;
    height: 62px;
    clear: both;

    .social-icon {
      margin-top: 20px;
      margin-bottom: 20px;
      transform: scale(.7, .7);
      display: inline;
      float: left;
      cursor: pointer;

      path,
      circle {
        fill: $lightblue;
        transition: fill .3s, stroke .3s;
      }

      &:hover {
        path {
          fill: $lightgreen;
          transition: fill .3s, stroke .3s;
        }
      }
    }
  }
}
