@import 'logo';

.top-hello {
  background: $linearBGgrad;
  height: 100%;
}

.hello {
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  display: flex;
  display: -webkit-box;
  justify-content: center;
  align-items: center;

  .hello-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .navigation {
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 0;
      margin: 20px 0;

      a {
        font-family: 'DinProBold';
        font-weight: bold;
        font-size: $normal;
        letter-spacing: .1em;
        padding: 15px;
        text-decoration: none;
        color: $white;
        background: none;
        transition: background 0.3s, color 0.3s;

        &:hover {
          color: $darkgrey;
          background: $white;
          transition: background 0.3s, color 0.3s;
        }


      }
    }

    .categories {
      text-align: center;
      width: 100%;
      position: absolute;
      top: 0%;
      margin: 0;
      z-index: $second;
      padding-top: 10px;

      span {
        font-family: 'DINPro-Bold';
        font-size: $small;
        font-weight: bold;
        letter-spacing: .1em;
        text-transform: uppercase;
        padding: 5px;
        margin-top: 5px;
        color: $darkgrey;
        display: block;
      }
      @media (min-width: $min-tablet-portrait-width) {
        top: 0%;
        padding-top: 0;
        span {
          padding: 15px;
          margin-top: 5px;
          display: inline-block;
        }
      }

    }

    .this-is {
      h2 {
        width: 100%;
        z-index: $second;
        text-align: center;
        top: 50%;
        transform: translate(0, 0px);
        position: absolute;
      }
    }
  }

  .hello-copy {
    h2 {
      font-family: 'Lato';
      color: $lightblue;
    }

    a {
      color: $black;
      background: none;
      transition: background .3s, color .3s;
      text-decoration: none;

      &:hover {
        background: $darkgrey;
        color: $white;
        transition: background .3s, color .3s;
      }
    }
  }
}
