@import 'logo';

.top-hello {
  background: $bggrad;
}

.hello {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .hello-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .navigation {
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 0;
      margin: 20px 0;

      a {
        font-family: 'Lato';
        font-weight: bold;
        font-size: $small;
        letter-spacing: .1em;
        padding: 15px;
        text-decoration: none;
        color: $ultrapink;
        background: none;
        transition: background 0.3s, color 0.3s;
        &:hover {
          color: $white;
          background: $ultrapink;
          transition: background 0.3s, color 0.3s;
        }
      }
    }

    .categories {
      text-align: center;
      width: 100%;
      position: absolute;
      top: 0;
      margin: 20px 0;

      span {
        font-family: 'Lato';
        font-size: $small;
        font-weight: bold;
        letter-spacing: 0em;
        text-transform: uppercase;
        padding: 15px;
        color: $darkgrey;
      }
    }
  }

  .hello-copy {
    display: inline-block;
    float: left;
    line-height: 36px;
    font-size: 16px;
    width: 100%;

    h2 {
      font-family: 'Lato';
      color: $ultrapink;
    }

    p {
      color: $deeppink;
      font-family: 'MerriweatherLight', sans-serif;
      text-align: center;

      .highlight {
        color: $white;
      }

      &::selection {
        color: $ultrablue;
        background: $darkgrey;
      }
    }

    a {
      color: $black;
      background: none;
      transition: background .3s, color .3s;
      text-decoration: none;

      &:hover {
        background: $darkgrey;
        color: $white;
        transition: background .3s, color .3s;
      }
    }
  }
}
