@import 'logo';

.hello {
  max-width: 1200px;
  width: 80%;
  max-width: 450px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  h1.hello-copy {
    display: inline-block;
    float: left;
    font-family: 'MerriweatherLight', sans-serif;
    line-height: 36px;
    font-size: 16px;

    p {
      color: $midgrey;

      .highlight {
        color: $darkgrey;
      }

      &::selection {
        color: $ultrablue;
        background: $darkgrey;
      }
    }

    a {
      color: $black;
      background: none;
      transition: background .3s, color .3s;
      text-decoration: none;

      &:hover {
        background: $darkgrey;
        color: $white;
        transition: background .3s, color .3s;
      }
    }
  }
}
