.logo {
  text-align: center;
  width: 100%;
  display: inline-block;

  svg {
    transform: scale(0.75, 0.75);
    max-width: 110px;
    max-height: 340px;
  }

  path {
    stroke-width: 2px;
    stroke: $yellow;
    fill: none;
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: dash 4s linear forwards;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 700;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}
