.footer {
  .logo {
    svg {
      transform: none;
    }
  }
}

.logo {
  width: 100%;
  display: inline-block;

  svg {
    transform: scale(.6, .6) translate(-40px, 0);
    padding: 20px 0;
    max-width: 110px;
    max-height: 110px;

    path {
      stroke-width: 2px;
      stroke: $ultrablue;
      fill: none;
      stroke-dasharray: 700;
      stroke-dashoffset: 700;
      animation: dashLogo 4s linear forwards;
    }

    &:hover {
      path {
        animation: dashLogoLoop 4s linear infinite;
      }
    }
  }

  svg {
    rect {
      fill: none;
    }

    path {
      stroke: none;
      stroke-width: 2px;
      transition: fill .3s, stroke .3s;
    }

    &:hover {
      rect {
        fill: none;
      }

      path {
        stroke: $ultrablue;
        transition: fill .3s, stroke .3s;
      }
    }
  }
}

.hero {
  width: 100%;
  display: inline-block;
  height: 100%;
  text-align: center;

  a {
    position: absolute;
    top: 50%;
  }

  svg {
    padding: 20px;
    transform: scale(.75, .75)translate(-140px, -210px);
    transition: transform .5s;
    overflow: visible;

    path,
    circle {
      stroke-width: 2px;
      stroke: $ultrablue;
      fill: none;
      stroke-dasharray: 700;
      stroke-dashoffset: 700;
      animation: dashLogo 4s linear forwards;
    }
    &:hover {
      path,
      circle {
        animation: dashLogo 4s linear infinite;
      }
    }
  }
}
