.logo {
  width: 100%;
  display: inline-block;

  svg {
    //transform: scale(0.75, 0.75);
    padding: 20px;
    max-width: 110px;
    max-height: 340px;
  }

  path {
    stroke-width: 1px;
    stroke: $ultrablue;
    fill: none;
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: dashLogo 4s linear forwards;
  }

  &:hover {
    path {
      animation: dashLogoLoop 4s linear infinite;
    }
  }
}

.hero {
  width: 100%;
  display: inline-block;

  svg {
    padding: 20px;
  }

  path {
    stroke-width: 1px;
    stroke: $ultrablue;
    fill: none;
    stroke-dasharray: 1050;
    stroke-dashoffset: 1050;
    animation: dashHero 3s linear forwards;
  }

  &:hover {
    path {
      animation: dashLogoLoop 4s linear infinite;
    }
  }
}
