@import 'arrows';

.one-project {
  height: 300px;
  cursor: pointer;
  background: $white;
  transition: background 0.1s;
  border-bottom: 1px solid $ultrablue;
  margin-bottom: 25px;
  box-shadow: 0 0 2px 0 $ultrablue;
  padding: 20px;

  &:hover {
    box-shadow: 0 0 6px 0 $ultrablue;
    transition: box-shadow 0.1s;
  }

  .thumbnail {
    width: 30%;
    height: 100%;
    margin-right: 5%;
    display: inline-block;
    float: left;
  }
}

.one-project-detail {
  padding: 40px;
  color: $darkgrey;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  margin-top: 15%;

  .header {
    margin: 60px 0;
  }

  h3.author {
    text-transform: capitalize;
    color: $midgrey;
    font-family: 'MerriweatherLight';
    font-style: italic;
    font-size: $normal;
  }

  h1, h3 {
    margin: 0;
  }

  img {
    width: 100%;
    margin: 20px 0;
  }

  span.project-tag {
    font-size: $small;
    color: white;
    background: $linearBGgrad;
    line-height: $small;
    padding: 8px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 10px;
  }

  & > p {
    margin-bottom: 180px;
  }

  .next,
  .prev {
    position: fixed;
    font-size: $xlarge;
  }

  .next{
    right: 0;
  }

  .prev {
    left: 0;
  }

  pre {
    padding: 20px;
    background: $almostwhite;
    overflow-x: scroll;
    border: solid 1px $offwhite;
  }

  .project-dots {
    position: absolute;
    top: 13px;
    margin: 0 auto;
    text-algin: center;

    .project-dot {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: $linearBGgrad;
      display: inline-block;
      margin: 0px 2px;
      opacity: .3;

      &.active {
        opacity: 1;
      }
    }
  }
}
