.projects-wrapper {
  width: 100%;
  max-width: 800px;
  float: left;

  .one-project-thumbnail-wrapper {
    padding: 0;
    margin-bottom: 80px;

    .one-project-thumbnail {
      cursor: pointer;
      position: relative;

      .thumbnail {
        //border: $ultrablue 1px solid;
        height: 300px;
        width: 100%;
        overflow: hidden;
        filter: none;
        transition: filter .5s;
        background: rgba($ultrablue, 0.05);

        img {
          width: 100%;
        }
      }

      .butterfly {
        position: relative;
        top: 50px;
        opacity: 0;
      }

      .title {
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .1em;
        font-family: 'Lato';
        font-size: $large;
        color: $darkgrey;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        opacity: 0;
        z-index: $first;
      }
    }

    &:hover {
      .thumbnail {
        filter: blur(6px);
        transition: filter .3s;

        img {
          opacity: .3;
          transition: opacity .3s;
        }
      }

      .butterfly {
        opacity: 1;
        transition: opacity .3s;
      }

      .title {
        opacity: 1;
        display: inline-block;
        transition: opacity .3s;
      }

      .wing1 {
        transform: skew(0, 30deg) translate(20px, 20px);
      }

      .wing2 {
        transform: skew(0deg, -30deg) translate(10px, 10px);
      }
    }

    @media (min-width: $min-mobile-width) and (max-width: $min-tablet-landscape-width) {
      .one-project-thumbnail {
        .thumbnail {
          filter: blur(6px);

          img {
            opacity: .3;
          }
        }

        .butterfly {
          opacity: 1;
        }

        .title {
          opacity: 1;
          display: inline-block;
        }

        .wing1 {
          transform: skew(0, 30deg) translate(20px, 20px);
        }

        .wing2 {
          transform: skew(0deg, -30deg) translate(10px, 10px);
        }        
      }
    }
  }
}
