.projects-wrapper {
  width: 100%;
  max-width: 800px;
  float: left;

  .one-project-thumbnail-wrapper {
    padding: 0;
    margin-bottom: 80px;

    .one-project-thumbnail {
      cursor: pointer;
      position: relative;

      .thumbnail {
        border: #efefef 1px solid;
        max-height: 300px;
        width: 100%;
        overflow: hidden;
        filter: none;
        background: rgba($ultrablue, 0.05);
        transition: filter .5s, background .3s;

        img {
          width: 100%;
        }
      }

      .butterfly {
        position: relative;
        top: 50px;
        opacity: 0;
      }

      .title {
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .1em;
        font-family: 'Lato';
        font-size: $large;
        color: $darkgrey;
        position: absolute;
        top: 50%;
        width: 100%;
        filter: blur(10px);
        text-align: center;
        opacity: 0;
        z-index: $first;
        transition: opacity .3s;
      }

      .loading {
        opacity: 0;
      }
    }

    &:hover {
      .thumbnail {
        filter: blur(6px);
        transition: filter .3s;

        img {
          opacity: .3;
          transition: opacity .3s;
        }
      }

      .loading {
        opacity: 1;
        transition: opacity .3s;
      }

      .butterfly {
        opacity: 1;
        transition: opacity .3s;
      }

      .title {
        opacity: 1;
        filter: none;
        display: inline-block;
        transition: opacity .3s, filter .6s;
      }

      .wing1 {
        transform: skew(0, 30deg) translate(20px, 20px);
        -webkit-transform: skew(0, 30deg) translate(20px, 20px);
      }

      .wing2 {
        transform: skew(0deg, -30deg) translate(10px, 10px);
        -webkit-transform: skew(0deg, -30deg) translate(10px, 10px);
      }
    }

    @media (min-width: $min-mobile-width) and (max-width: $min-tablet-landscape-width) {
      .one-project-thumbnail {
        .thumbnail {
          filter: none;

          img {
            opacity: .3;
          }
        }

        .butterfly {
          opacity: 1;
        }

        .title {
          opacity: 1;
          filter: none;
          display: inline-block;
        }

        .wing1 {
          transform: skew(0, 30deg) translate(20px, 20px);
          -webkit-transform: skew(0, 30deg) translate(20px, 20px);
        }

        .wing2 {
          transform: skew(0deg, -30deg) translate(10px, 10px);
          -webkit-transform: skew(0deg, -30deg) translate(10px, 10px);
        }
      }
    }
  }
}
