@import 'sidemenuburg';
@import 'breakpoints';

.side-menu {
  width: 100px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition: width .5s, background .25s;
  z-index: $fourth;
  overflow-y: scroll;

  &.open {
    width: 100%;
    background: $linearBGgrad;
    transition: width .5s, background .25s;

    .menu {
      height: 100%;
      width: 100%;
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;

      .options {
        width: 100%;
        text-align: center;

        .menu-option {
          width: 100%;
          font-family: 'DinProBold';
          font-weight: bold;
          letter-spacing: .1em;
          text-transform: uppercase;
          font-size: $large;
          margin: 0;
          padding-left: 0;
          cursor: pointer;
          background: none;
          transition: color .2s, background .2s;

          a {
            text-decoration: none;
            color: $white;
            height: 70px;
            line-height: 70px;
            width: 100%;
            transition: color .2s;

            span {
              display: inline-block;
            }

            .option-wrapper {
              display: inline-block;
              width: 100%;
            }
          }

            &:hover {
              background: $white;
              transition: background .2s;

              span {
                color: $darkgrey;
                transition: color .2s;
              }

              .wing1 {
                opacity: 1;
                transform: skew(0, 30deg) translate(20px, 20px);
              }

              .wing2 {
                opacity: 1;
                transform: skew(0deg, -30deg) translate(10px, 0px);
              }
            }

        }

        @media (min-width: $min-mobile-width) and (max-width: $min-tablet-portrait-width) {
          .menu-option {
            font-size: $normal;
          }
        }

        @media (min-width: $min-tablet-portrait-width) and (max-width: $min-tablet-landscape-width) {
          .menu-option {
            font-size: $large;
          }
        }
      }
    }
  }
  &.left {
    right: auto;
    left: 0;

    &.open {
      background: $white;
    }

    .side-menu-burg.is-active  {
      span {
        background: $white;
      }

      span::before,
      span::after {
        background: $linearBGgrad;
      }
    }
  }
}
