.sparkline {
  display: inline-block;

  svg {
    padding: 10px;
  }

  path {
    stroke-dasharray: 192;
    stroke-dashoffset: 192;
    stroke-width: 5px;
    stroke: $white;
    fill: none;
  }
}
