@import 'fonts';
@import 'colors';
@import 'animations';
@import 'layers';
@import 'breakpoints';
@import 'sparkline';
@import 'butterfly';
@import 'loading';

/*
Sections
*/
@import 'hello';
@import 'featuredwork';
@import 'sidepanel';
@import 'contact';
@import 'footer';

/*
Other components
*/
@import 'oneprojectthumbnail';

/*
Main styles
*/
html, body {
    height: 100%;
    width: 100%;
}

body {
  background: $almostwhite;
  color: $darkgrey;
  margin: 0;
  font-family: Merriweather;

  section {
    min-height: 100%;
    clear: both;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $min-tablet-portrait-width) and (max-width: $min-tablet-landscape-width) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (min-width: $min-tablet-landscape-width) {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  h1 {
    font-size: $mlarge;
  }

  h2 {
    font-size: $large;
    line-height: $xlarge;
    font-family: 'DinProLight';
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2em;
    text-align: left;
  }

  p {
    max-width: 800px;
    font-family: 'MerriweatherLight';
    line-height: $xlarge;
    font-size: $normal;
  }

  .copy {
    padding: 60px 0;
    max-width: 740px;
    margin: 0 auto;
    padding-left: 0;
    margin-left: 0;
    font-family: 'MerriweatherLight';
    line-height: $xlarge;
    font-size: $normal;
  }

  @media (min-width: $min-tablet-portrait-width) {
    h1 {
      font-size: $mlarge;
    }

    h2 {
      font-size: $large;
    }
  }

  @media (min-width: $min-tablet-landscape-width) {
    h1 {
      font-size: $mlarge;
    }

    h2 {
      font-size: $large;
    }
  }
}
